body{
    background-color: white;
    background-size:cover;
}
#conteudo{
    width: 50%;   
    margin-left: 10%;
    margin-top: 2%;
    background-color: rgba(255,255,255,0.7);
    padding: 2%;
}
h1{
    margin-bottom: 2%;
}
#titulo{
    text-transform: uppercase;
    font-weight: bold;
}
#saida{
    margin-top: -2em;
    margin-left: 100%;
    font-family: "arial black";
    font-size: 2em;
}
#imagem img{
    position: fixed;
    right: -100px;
    height: 100%;
    bottom: 0px;
}
#botao{
    margin-top: 3em;
}